// To get started, press Ctrl+Space to bring up the completion menu and view the available nodes.
&i2c0 {
    chrip_conf: chrip_conf@45 {
		compatible = "i2c-device";
		label = "CHRIP_CONF";
		reg = <0x45>;
	};

    chrip: chrip@23 {
		compatible = "i2c-device";
		label = "CHRIP";
		reg = <0x23>;
	};
};

/{
	buttuns{
		compatible = "gpio-leds";
		but: but{
			gpios = <&gpio0 14 GPIO_ACTIVE_HIGH>;
		};

		int_inp: int_inp{
			gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
		};
	};
};
// &gpio0 {
// 	chirp_pins: chirp_pins0{

// 		gpio-hog;
// 		gpios = < label cell >;
// 	};	
// };


// You can also use the buttons in the sidebar to perform actions on nodes.
// Actions currently available include:

// * Enabling / disabling the node
// * Adding the bus to a bus
// * Removing the node
// * Connecting ADC channels

// For more help, browse the DeviceTree documentation at https://docs.zephyrproject.org/latest/guides/dts/index.html
// You can also visit the nRF DeviceTree extension documentation at https://nrfconnect.github.io/vscode-nrf-connect/devicetree/nrfdevicetree.html
